*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(41, 41, 41);
    color: white;
    padding: 2rem 4rem;
    text-align: center;
}
h1{
    margin-bottom: 2rem;
    font-size: 48px;
}
button{
    padding: .3rem .7rem;
    font-size: 1.4rem;
    border-radius: 5px;
    border: none;
    margin: 1rem .5rem;
    border: 1px solid transparent;
}
button:hover{
    background-color: rgb(41, 41, 41);
    color: #FFF;
    border: 1px solid white;
}
button:active{
    color: rgb(41, 41, 41);
}
.score{
    margin-bottom: 1rem;
}
.score p{
}